.vanilla-select-wrapper {

}

.vanilla-select {
	position: relative;
	width: max-content;

	&_show {
		& .vanilla-select__btn {
			background-color: #2276c7;

			&:hover {
				background-color: #2276c7;
			}

			&::before {
				transform: rotateZ(-45deg);
			}

			&::after {
				transform: rotateZ(45deg);
			}
		}

		& .vanilla-select__list {
			z-index: 1;
			visibility: visible;
			opacity: 1;
			pointer-events: auto;
		}
	}

	&__btn {
		position: relative;
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		color: white;
		background-color: dodgerblue;
		padding: 8px 40px 8px 15px;
		border-radius: 5px;

		&:hover {
			background-color: #2276c7;
		}

		&::before,
		&::after {
			content: '';
			width: 2px;
			height: 8px;
			background-color: white;
			position: absolute;
			top: 50%;
			margin-top: -4px;
		}

		&::before {
			right: 15px;
			transform: rotateZ(45deg);
		}

		&::after {
			right: 20px;
			transform: rotateZ(-45deg);
		}
	}

	&__list {
		background-color: white;
		list-style-type: none;
		padding: 0;
		margin: 5px 0 0;
		border-radius: 5px;
		width: max-content;
		max-width: 250px;
		min-width: 100%;
		max-height: 180px;
		overflow-x: hidden;
		overflow-y: auto;
		box-shadow: $shadow-grey;
		position: absolute;
		top: 100%;

		z-index: -1;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}

	&__option {
		display: block;
		font-size: 14px;
		line-height: 18px;
		font-weight: 400;
		color: black;
		padding: 8px 15px;
		cursor: pointer;

		&:hover {
			background-color: ghostwhite;
		}

		&_selected {
			background-color: aliceblue;
			color: cornflowerblue;

			&:hover {
				background-color: aliceblue;
				color: cornflowerblue;
			}
		}

		&_disabled {
			background-color: whitesmoke;
			color: darkgrey;
			pointer-events: none;

			&:hover {
				background-color: whitesmoke;
				color: darkgrey;
			}
		}

		&_hidden {
			display: none;
		}
	}
}
